service: atuin
image: atuin
accessories:
  db:
    image: postgres:14
    host: hetzner
    directories:
      - ./data:/var/lib/postgresql/data/
    env:
      clear:
        POSTGRES_DB: atuin
        POSTGRES_USER: atuin
      secret:
        - POSTGRES_PASSWORD
  server:
    image: ghcr.io/atuinsh/atuin:v18.10.0
    host: hetzner
    cmd: server start
    env:
      clear:
        ATUIN_HOST: 0.0.0.0
        ATUIN_OPEN_REGISTRATION: false # Set true if accept new user registrations
        RUST_LOG: info,atuin_server=debug
      secret:
        - ATUIN_DB_URI
    proxy:
      host: atuin.yejun.dev
      app_port: 8888
      ssl: true
      healthcheck:
        interval: 1
        timeout: 1
        path: "/"
